<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="edu.eci.pdsw.persistence.impl.mappers.PacienteMapper">

        
    <select parameterType="map" id="loadPacienteById" resultMap="PacienteResult">
                select
    
                p.id,
                p.tipo_id,
                p.nombre,
                p.fecha_nacimiento,


                e.nombre as EPS_NOMBRE,
                e.nit as EPS_NIT,

                c.idCONSULTAS as CON_ID,
                c.fecha_y_hora as CON_FECHA,
                c.resumen as CON_RESUMEN,
                c.costo as CON_COSTO


                FROM  CM_PACIENTES as p left join CM_CONSULTAS as c on p.id=c.PACIENTES_id left join CM_EPS as e on p.eps_nit=e.nit
                WHERE p.id = #{idp} AND p.tipo_id = #{tipoidp}            

    </select>
    
       
    <select parameterType="map" id="loadPacientes" resultMap="PacienteResult">
                select
    
                p.id,
                p.tipo_id,
                p.nombre,
                p.fecha_nacimiento,


                e.nombre as EPS_NOMBRE,
                e.nit as EPS_NIT,

                c.idCONSULTAS as CON_ID,
                c.fecha_y_hora as CON_FECHA,
                c.resumen as CON_RESUMEN,
                c.costo as CON_COSTO


                FROM  CM_PACIENTES as p left join CM_CONSULTAS as c on p.id=c.PACIENTES_id left join CM_EPS as e on p.eps_nit=e.nit
    </select>
    <insert id="insertConsulta" useGeneratedKeys="true" keyProperty="con.id">
        INSERT INTO CM_CONSULTAS (fecha_y_hora,resumen,costo,PACIENTES_id,PACIENTES_tipo_id)
            VALUES(#{con.fechayHora},#{con.resumen},#{costoc},#{idp},#{tipoidp})
    </insert>
    <resultMap type='Paciente' id='PacienteResult'>
        <id property='id' column='id'/>
        <id property='tipoId' column='tipo_id'/>
        <result property='nombre' column='nombre'/>
        <result property='fechaNacimiento' column='fecha_nacimiento'/> 
        <association property="eps" javaType="Eps"></association>   
        <collection property='consultas' ofType='Consulta' resultMap = 'ConsultaResult' columnPrefix ='CON_'></collection>
            
    </resultMap>
    
    <resultMap type='Consulta' id='ConsultaResult'>
        <id property='id' column='ID'/>
        <result property='fechayHora' column='FECHA' />
        <result property='resumen' column='RESUMEN' />
        <result property='costo' column='COSTO' />      
        </resultMap>
    
    
    
    
    
    
    

                
</mapper>
